
.container {
  margin-top: 20px;
}

.right-panel {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h2 {
  margin-bottom: 10px;
}

.underline {
  height: 3px;
  width: 50px;
  background-color: #007bff;
  margin: 0 auto;
}

.spend-wrapper {
  position: relative;
}

.spend-item {
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.expense {
  border-left: 5px solid red;
}

.income {
  border-left: 5px solid green;
}

.pagination-wrapper {
  text-align: center;
}

.pagination li {
  display: inline-block;
  margin: 0 2px;
}

.pagination .page-link {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  color: #007bff;
}

.pagination .page-link:hover {
  background-color: #f8f9fa;
}

.pagination .page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
}




.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.delete-button::before,
.delete-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 2px;
  background-color: #e50c0c;
  transform: translate(-50%, -50%) rotate(45deg);
}

.delete-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
