<div class="container">
  <div class="right-panel">
      <div class="header">
          <h2>Spend List</h2>
          <div class="underline"></div>
      </div>

      <div class="spend-wrapper">
        <div *ngFor="let spend of spendList" class="spend-item" [ngClass]="{'expense': spend.spendType === 'EXPENSE', 'income': spend.spendType === 'INCOME'}">
          <button class="delete-button" (click)="deleteSpend(spend.id)"></button>
          <div class="item-info">
            <p><strong>Title:</strong> {{ spend.title }}</p>
            <p><strong>ID:</strong> {{ spend.id }}</p>
            <p><strong>Amount:</strong> {{ spend.amount | currency:'TRY':'symbol':'1.2-2' }}</p>
            <p><strong>Spend Type:</strong> {{ spend.spendType }}</p>
          </div>
        </div>
      </div>




      <div *ngIf="totalPages > 1" class="pagination-wrapper">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="currentPage === 0">
            <button class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </button>
          </li>
          <li class="page-item" *ngFor="let page of createPageArray()" [class.active]="currentPage === page">
            <button class="page-link" (click)="onPageChange(page)">{{ page }}</button>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
            <button class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </button>
          </li>
        </ul>
      </div>
  </div>
</div>


